@charset "UTF-8";
:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --accent-color-second:#fff;
  --accent-color-header:#2196F3;
  --accent-bgc-hero:#2F303A;
  --accent-bgc-fonescreen:#C4C4C4;
  --accent-bgc-folio:#F5F4FA;
  --accent-border-color:#EEEEEE;
  --border-line:#ECECEC;
  --accent-color-networks:#AFB1B8;
  /* border 30 px between cards */
  --card-border-item:30px;
  --border-shadow-area:0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --border-radius:0px 0px 4px 4px;
  --shadow-area-portfolio: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-area-portfolio-card:0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  --shadow-area-footer:0px 4px 4px rgb(0 0 0 / 15%);
}

body {
  font-family: Roboto,sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-style: normal;
  display: block;
}

textarea {
  resize: none;
}

p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid var(--accent-border-color);
}

.header__container,
.header__headlink {
  display: block;
  display: flex;
  align-items: center;
}

.header__logo {
  display: inline-block;
  margin-right: 93px;
  font-family: Raleway,sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: var(--title-text-color);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: transform 250ms var(--timing-function);
}

.header__logo:hover,
.header__logo:focus {
  color: var(--accent-color);
}

.header__wordpart {
  color: var(--accent-color);
}

.nav {
  display: flex;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);
}

/* подчеркивание границы перехода */
.nav__list--current {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--accent-color-header);
  position: relative;
}

.nav__list--current::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: color 250ms var(--timing-function);
}

.nav .nav__list {
  margin-right: 50px;
  display: block;
}

.nav .nav__list:last-child {
  margin-right: 0;
}

.nav .nav__list:not(:last-child) {
  margin-right: 40px;
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.header__contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__contact .header__item:not(:last-child) {
  margin-right: 50px;
}

.header__item .header-contacts {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);
}

.header__letter,
.header__smartphone {
  margin-right: 10px;
  fill: currentColor;
}

/* активная ссылка при переходе на другую страницу*/
/* интерактивные ссылки емейл и номер телефона */
.header__contacts {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
}

.header__contacts:hover,
.header__contacts:focus {
  color: var(--accent-color);
}

/* section hero */
.hero__container {
  border: 1px solid var(--accent-border-color);
  background-color: var(--accent-bgc-fonescreen);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 174px;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fonescreen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;
}

.hero__title {
  color: var(--accent-color-second);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

/* кнопка */
.hero__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--accent-color-second);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
}

.hero__btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--timing-function);
  z-index: 1;
}

.backdrop.is-hidden .backdrop-form {
  transform: translate(-50%, -50%) scale(0.4);
  transition: transform 250ms var(--timing-function);
}

.backdrop-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms var(--timing-function);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--accent-color-second);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);
}

/* Заголовок формы */
.header-form {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  line-height: 1.15em;
}

/* ФОРМА заполнения */
.form {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.header-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primare-text-color);
  margin-right: 90%;
}

.form-location {
  position: relative;
  margin-top: 4px;
}

.backdrop-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  background-color: var(--accent-color-second);
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms var(--timing-function);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.btn-submision {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 55px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--accent-color-second);
  background: var(--accent-color);
  box-shadow: var(--shadow-area-portfolio-card);
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  margin-left: 115px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  outline: none;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms var(--timing-function);
}

.hero-form-input {
  padding: 12px 16px;
  outline: transparent;
  color: var(--primare-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.hero-form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}

.backdrop-btn:hover,
.backdrop-btn:focus {
  fill: var(--accent-color);
}

.form-input:hover,
.form-input:focus,
.hero-form-input:checked {
  border: 1px solid var(--accent-color);
}

.hero-form-input:hover,
.hero-form-input:focus {
  border: 1px solid var(--accent-color);
}

.hero-form-comment {
  height: 117px;
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primare-text-color);
  padding: 12px 14px;
}

.hero-form-checkbox {
  position: absolute;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-policy-form-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 20px;
  color: var(--primary-text-color);
  margin-bottom: 40px;
  margin: 0;
  padding: 0;
  padding-left: 35px;
  display: flex;
  text-align: center;
  align-items: center;
}

.hero-form-link {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 6px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.icon-check {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  fill: var(--accent-color-second);
}

.hero-form-checkbox:checked ~ .icon-check {
  fill: var(--accent-color-second);
  background-color: var(--accent-color);
  background-origin: border-box;
  background-size: contain;
}

.hero-form-checkbox:focus ~ .icon-check {
  border-color: var(--accent-color);
}

.form-field-set {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* cекция 2 */
/* спрятаный заголовк */
#hidden {
  display: block;
}

.advantages__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  display: flex;
  padding: 0;
}

.advantages__item {
  flex-basis: calc(100% / 4);
}

/* картинки для второй секции на спрайтах */
.advantages__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-bgc-folio);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}

.advantages__list .advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__tools {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.1;
  color: var(--title-text-color);
  margin-top: 0;
  padding-top: 30px;
}

.advantages__topic {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.project__container {
  padding-bottom: 94px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.project__description {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
}

.project__element {
  display: flex;
  padding: 0;
}

.project__element > .item {
  flex-basis: calc(100% / 3);
}

.project__element .project__item:not(:last-child) {
  margin-right: 30px;
}

/* попытка сделать aнимацию */
.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__thumbs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23%;
  background: rgba(47, 48, 58, 0.8);
}

.project__offers {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-left: 83px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #fff;
}

/* 4 cекция container-team */
.team {
  background-color: var(--accent-bgc-folio);
}

.team__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: flex;
  padding: 0px;
}

.team__description {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
}

.team__list .team__item {
  flex-basis: calc(100% / 4);
}

.team__list .team__items:not(:last-child) {
  margin-right: 30px;
}

.team__item {
  background-color: var(--accent-color-second);
  padding: 0;
  margin: 0;
  padding: 30px;
  text-align: center;
  box-shadow: var(--border-shadow-area);
  border-radius: 0px 0px 4px 4px;
}

.team__surname {
  font-size: 16px;
  line-height: 1.1;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}

.team__position {
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

/* cпрайты для соц сетей */
.team__networks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team__networks .team__things {
  display: flex;
  align-items: center;
  color: var(--accent-color-networks);
}

.team__messengers {
  fill: currentColor;
}

.team__socials:not(:last-child) {
  margin-right: 10px;
}

.team__things {
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.team__things:hover,
.team__things:focus {
  background-color: var(--accent-color);
  color: var(--accent-color-second);
}

/*section 5 */
.coloboration__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.coloboration__list {
  display: flex;
  align-items: center;
}

.coloboration__description {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
}

.coloboration__partnership {
  fill: currentColor;
}

.coloboration__partners {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--accent-color-networks);
  border-radius: 4px;
  color: var(--accent-color-networks);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.coloboration__peer:not(:last-child) {
  margin-right: 30px;
}

.coloboration__partners:hover,
.coloboration__partners:focus {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color-second);
  color: var(--accent-color);
}

/* FOOOTTEEERRRR */
.footer {
  background-color: var(--accent-bgc-hero);
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
}

.footer__container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer__link {
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  padding: 0;
  font-family: Raleway,sans-serif;
}

.footer__wordpart {
  color: var(--accent-color);
}

.footer__color {
  color: var(--accent-color-second);
}

.footer__list .footer__random:not(:last-child) {
  margin-bottom: 9px;
}

.footer__adress {
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-color-second);
  font-style: normal;
  display: block;
  margin: 0;
  padding: 0;
}

.footer__comunications:hover,
.footer__comunications:focus {
  color: var(--accent-color);
}

.footer__comunications {
  transition: color 250ms var(--timing-function);
}

.footer__adds {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.1;
  color: var(--accent-color-second);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__network {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__network .footer__thing {
  display: flex;
  align-items: center;
  color: var(--accent-color-second);
  background: rgba(255, 255, 255, 0.1);
}

.footer__messengers {
  fill: currentColor;
}

.footer__items:not(:last-child) {
  margin-right: 10px;
}

.footer__thing {
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.footer__thing:hover,
.footer__thing:focus {
  background-color: var(--accent-color);
  color: var(--accent-color-second);
}

/* Подписка с самолетиком */
.footer__subscribe {
  margin-left: 93px;
  align-items: center;
  display: flex;
}

.footer__wrapper {
  display: flex;
  margin-top: 20px;
}

.subscribe-form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
}

.subscribe-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-social-icon {
  margin-left: 10px;
  fill: currentColor;
}

.btn-linker {
  margin-left: 12px;
  color: var(--accent-color-second);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: var(--shadow-area-footer);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  padding: 10px 28px;
  position: relative;
  display: flex;
}

/* Страница портфолио */
/*  cекция кнопок для навигации  */
.portfolio__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__links {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-bottom: 50px;
}

.portfolio__links .portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__view {
  padding-bottom: 50px;
}

.portfolio__view {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc( -1 * var(--card-border-item));
  margin-left: calc( -1 * var(--card-border-item));
}

.portfolio__view > .portfolio__frame {
  flex-basis: calc(100% / 3 - var(--card-border-item));
  margin-top: var(--card-border-item);
  margin-left: var(--card-border-item);
}

.portfolio__icons:hover,
.portfolio__icons:focus {
  box-shadow: var(--shadow-area-portfolio-card), overlay 250ms var(--timing-function);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

/* секция карточек в портфолио */
.portfolio__card {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.portfolio__thumb:hover .portfolio__card {
  transform: translateY(0);
}

.portfolio__text {
  position: absolute;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--accent-color-second);
  padding-top: 63px;
  padding-left: 24px;
}

.portfolio__items {
  border: 1px solid var(--accent-border-color);
  border-top: none;
  padding: 20px;
  padding-left: 24px;
}

.portfolio__size {
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  letter-spacing: 0.06em;
}

.portfolio__positions {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.btn-links {
  display: inline-block;
  border-radius: 4px;
  min-width: 75px;
  color: var(--title-text-color);
  background-color: var(--accent-bgc-folio);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 6px 22px;
  font-weight: 500;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.portfolio__links .btn-links:hover,
.portfolio__links .btn-links:focus {
  color: var(--accent-color-second);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=main.css.map */